<div id="message-<%= message.id %>" class="d-flex msg-container-<%= message.user.id %>">
  <div class="chat-message msg-<%= message.user.id %>">
    <p class="user"></p>
    <p><%= message.content %></p>
    <small><strong><%= message.user.nickname %></strong> <%= message.created_at.today? ? message.created_at.strftime("at %H:%M") : message.created_at.strftime("%m/%d/%Y") %></small>
  </div>
</div>
