<div class="form-box my-5">
  <%= link_to user_path(@user), class: 'arrow-back' do %>
    <i class="fas fa-angle-left"></i><i class="fas fa-angle-left"></i><i class="fas fa-angle-left"></i>
  <% end %>

  <h1 class="form-title"><strong>EDIT YOUR ACCOUNT</h1></strong>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
      <%= f.input :full_name,
                      label: "Full Name:",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "full_name", class: "input-opaque" }%>
      <div class="row">
        <div class="col-6">
          <%= f.input :nickname,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "nickname", class: "input-opaque" }%>
        </div>
        <div class="mt-4 col-6">
          <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'},
                              label_html: { class: 'upload-photo'}, label: 'Upload a photo' %>
        </div>
      </div>
      <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "input-opaque" }%>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <div class="row">
        <div class="col-4">
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { class: "input-opaque" } %>
        </div>
        <div class="col-4">
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password", class: "input-opaque"} %>
        </div>
        <div class="col-4">
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password", class: "input-opaque"} %>
        </div>
      </div>

    <div class="form-actions row justify-content-center">
      <%= f.submit "Update", class: "btn button-form col-7 mb-4 mt-3" %>
    </div>
  <% end %>
  <hr>
  <br><%= link_to "cancel my account", registration_path(resource_name), class: "cancel-link", data: { confirm: "Are you sure?" }, method: :delete %>
</div>
