<div class="form-box my-5">
  <%= link_to root_path, class: 'arrow-back' do %>
    <i class="fas fa-angle-left"></i><i class="fas fa-angle-left"></i><i class="fas fa-angle-left"></i>
  <% end %>
  <h1 class="form-title"><strong>SIGN UP</strong></h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :full_name,
                  label: "Full Name:",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "full_name", style: "background: lightgray" }%>
      <div class="row">
        <div class="col-6">
          <%= f.input :nickname,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "nickname", class: "input-opaque" }%>
        </div>
        <div class="mt-4 col-6">
          <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'},
                              label_html: { class: 'upload-photo'}, label: 'Upload a photo' %>
        </div>
      </div>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "", style: "background: lightgray" }%>

      <div class="row">
        <div class="col-6">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "", style: "background: lightgray"  } %>
        </div>
        <div class="col-6">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", class: "", style: "background: lightgray"  } %>
        </div>
      </div>
    </div>
    <div class="form-actions row justify-content-center">
      <%= f.submit "Sign up", class: "btn button-form col-7 mb-4 mt-3" %>
    </div>
  <% end %>
</div>
