<div class="container chatroom rounded-lg" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>">
  <div class="messages" data-chatroom-subscription-target="messages">
    <% chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [chatroom, @message], remote: true, html: { class: "d-flex", autocomplete: 'off', data: { chatroom_subscription_target: "form" } } do |f| %>
    <div class="d-flex align-center w-100">
      <%= f.input :content, label: false, placeholder: "Type your message", wrapper_html: {class: "flex-grow-1"}, input_html: {class: "chat-msg-input", style: "background: lightgray"}%>
      <%= f.submit "Send", class: "px-5 ml-3 rounded" %>
    </div>
  <% end %>
</div>
