<% @users.each do |follows| %>
  <p>
    <%= follows.nickname %>
    <% if current_user.is_following?(follows) %>
      <%= link_to "Unfollow", unfollow_user_path(follows), method: :post, remote: true, class: "btn btn-danger follow-btn-#{follows}", style: "color: white;", data: { follow_button_target: "btn" }  %>
    <% else %>
      <%= link_to "Follow", follow_user_path(follows), method: :post, remote: true, class: "btn btn-warning follow-btn-#{follows}", data: { follow_button_target: "btn" } %>
    <% end %>

    <span>
      <% chatroom = Chatroom.find_by(first_user: [follows, current_user], second_user: [follows, current_user]) %>
      <% if chatroom %>
        <%= link_to "Chat", chatroom_path(chatroom), class: "btn btn-success" %>
      <% else %>
        <%= link_to "Chat", chatrooms_path(recipient_id: follows.id), method: :post, class: "btn btn-success" %>
      <% end %>
    </span>
  </p>
<% end %>
