<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="home_logo">
    <div>
      <%= image_tag("home_logo.png") %>
    </div>
  </div>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
         <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<label for="chk" aria-hidden="true">Sign up</label>

          <%= f.input :full_name,
                  required: false,
                  autofocus: true,
                  label: false,
                  placeholder: "Fullname",
                  input_html: { autocomplete: "full name",  class: "style-input" } %>

          <%= f.input :nickname,
                  required: false,
                  autofocus: true,
                  label: false,
                  placeholder: "Nickname",
                  input_html: { autocomplete: "nickname",  class: "style-input" } %>

          <%= f.input :email,
                  required: false,
                  autofocus: true,
                  label: false,
                  placeholder: "Email",
                  input_html: { autocomplete: "email",  class: "style-input" } %>

          <%= f.input :password,
                  required: false,
                  label: false,
                  autofocus: true,
                  placeholder: "Password",
                  input_html: { autocomplete: "current-password", class: "style-input" } %>

          <%= f.button :submit, "Sign Up", class: "btn-login" %>
          <% end %>
				</form>
			</div>

			<div class="login">
				<form>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<label for="chk" aria-hidden="true"> <%= link_to "Login", new_user_session_path %> </label>

            <%#= f.input :email,
                  required: false,
                  autofocus: true,
                  label: false,
                  placeholder: "Email",
                  input_html: { autocomplete: "email",  class: "style-input" } %>

					<%#= f.input :password,
                  required: false,
                  label: false,
                  placeholder: "Password",
                  input_html: { autocomplete: "current-password", class: "style-input" } %>

          <button>Login</button>
          <% end %>

          <#div class="footer">
            <#div class="footer-links">
            <#a href="#"><i class="fab fa-github"></i></a>
            <#a href="#"><i class="fab fa-instagram"></i></a>
            <#a href="#"><i class="fab fa-facebook"></i></a>
            <#a href="#"><i class="fab fa-twitter"></i></a>
            <#a href="#"><i class="fab fa-linkedin"></i></a>
            <#/div>
          <#/div>
				</form>
			</div>
    <%= render "devise/shared/links" %>
	</div>
</body>
</html>
