<div class="row landing">
  <div class="col-6 d-flex flex-column justify-content-center align-items-center">
      <%= image_tag('login_logo.png', width: '650px', class: 'mb-5') %>
  </div>
  <div class="col-6 d-flex flex-column justify-content-center align-items-center">
    <div class="form-box mt-5">
      <h1 class="form-title"><strong>LOGIN</strong></h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: "Email:",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", style: "background: lightgray"} %>
          <%= f.input :password,
                      label: "Password:",
                      required: false,
                      input_html: { autocomplete: "current-password", style: "background: lightgray" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions row justify-content-center">
          <%= f.submit "Login", class: "btn button-form col-7 mb-4 mt-3" %>
        </div>

        <div class="text-center icons-login">
          <i class="fa-brands fa-facebook-square mx-2"></i>
          <i class="fa-brands fa-google mx-2"></i>
          <i class="fa-brands fa-twitter mx-2"></i>
          <i class="fa-brands fa-behance-square mx-2"></i>
        </div>
      <% end %>
    </div>
    <div class="text-center recover-links mt-2 mb-5"><%= render "devise/shared/links" %></div>
  </div>
</div>
