<div class="container">
  <%= simple_form_for @post do |f| %>
    <div class="container">
      <img id="your_preview_id" class="mt-2 mb-2 px-5 img-fit"></img>
    </div>
    <%= f.input :photo, label_html: {class: 'upload-photo'}, label: 'Time to upload your foto',
                wrapper_html: { id: "formFileMultiple", class:"p-3 d-flex flex-column hidden"}, input_html: { class: 'hidden' } %>
    <%= f.label :description, label: "Description:", class:"mt-4"%>
    <%= f.text_area :description, class: 'form-control input-opaque mb-4', rows: 5  %>

    <div class="form-actions row justify-content-center">
      <%= f.submit "Save", class: "btn button-form col-7 mb-4 mt-3" %>
    </div>


  <% end %>
</div>

<script>
  function showImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#your_preview_id')
          .attr('src', e.target.result)
          .width('70vw')
          .height('40vh');
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  document.getElementById('post_photo').addEventListener('change', function() {
    showImage(this);
  })
</script>
