<%# http://localhost:3000/posts %>
<%#= posts_path %>
<%= link_to "+ Add New Post", new_post_path, class: "btn-new-post d-inline-block mb-4" %>

<% @posts.each do |post| %>
<div class="card-post mb-4">
  <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-post-infos">
    <div class="d-flex flex-column justify-content-between">
      <div>
        <% if post.author == current_user %>
          <h2><%= link_to current_user.nickname, profile_path %></h2>
        <% else %>
          <h2><%= link_to post.author, user_path(post.user) %>
        <% end %>
        <p class="p-published">Published at <%= post.created_at.strftime('%H:%M')%></p>
      </div>
      <div>
        <p>Joined <%= post.user.created_at.strftime("%A, %d %b %Y")%> </p>
      </div>
    </div>
    <% if post.user.photo.attached? %>
      <%= cl_image_tag post.user.photo.key, :width=>80, :height=>80, :gravity=>"face", "radius" => "50", :crop=>"thumb", class: "avatar dropdown-toggle card-post-user avatar-bordered", id: "navbarDropdown", data: {bs_toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
    <% else %>
      <img class="avatar dropdown-toggle card-post-user" id="navbarDropdown" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"
      src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
    <% end %>
    <p class="w-50 text-align-justify">
      <%= post.description %>
    </p>

    <div class="flex items-left flex-column">
      <%= render "comments/form", comment: @comment%>
      <div class="mt-3">
        <div class="flex mr-2 text-gray-700 text-sm mr-3 mb-2">
          <% if  current_user.likes.where(post: post).count.zero? %>
          <%=link_to post_likes_path(post), remote: true, method: :post do%>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 text-pink-500" viewBox="0 0 20 20"
            fill="lightgrey">
            <path fill-rule="evenodd"
              d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
              clip-rule="evenodd" />
          </svg>
          <% end %>
          <% else %>
          <%= link_to like_path(post.id), method: :delete,  remote: true do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 text-pink-500" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
              clip-rule="evenodd" />
          </svg>
          <% end %>
          <% end %>
          <span class="me-3"> <%=post.likes.count %></span>
        </div>
        <div class="flex mr-2 text-gray-700 text-sm mr-8 mb-2">
          <svg fill="none" viewBox="0 0 24 24" class="w-5 h-5 mr-1" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
          </svg>
          <span><%= post.comments.count %> <%= link_to "Comments", post_path(post) %></span>
        </div>
        <%# <div class="flex mr-2 text-gray-700 text-sm mr-8 mb-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 text-pink-500" viewBox="0 0 512 512" fill="#e6c300">
        <path d="M512 80C512 98.01 497.7 114.6 473.6 128C444.5 144.1 401.2 155.5 351.3 158.9C347.7 157.2 343.9 155.5 340.1 153.9C300.6 137.4 248.2 128 192 128C183.7 128 175.6 128.2 167.5 128.6L166.4 128C142.3 114.6 128 98.01 128 80C128 35.82 213.1 0 320 0C426 0 512 35.82 512 80V80zM160.7 161.1C170.9 160.4 181.3 160 192 160C254.2 160 309.4 172.3 344.5 191.4C369.3 204.9 384 221.7 384 240C384 243.1 383.3 247.9 381.9 251.7C377.3 264.9 364.1 277 346.9 287.3C346.9 287.3 346.9 287.3 346.9 287.3C346.8 287.3 346.6 287.4 346.5 287.5L346.5 287.5C346.2 287.7 345.9 287.8 345.6 288C310.6 307.4 254.8 320 192 320C132.4 320 79.06 308.7 43.84 290.9C41.97 289.9 40.15 288.1 38.39 288C14.28 274.6 0 258 0 240C0 205.2 53.43 175.5 128 164.6C138.5 163 149.4 161.8 160.7 161.1L160.7 161.1zM391.9 186.6C420.2 182.2 446.1 175.2 468.1 166.1C484.4 159.3 499.5 150.9 512 140.6V176C512 195.3 495.5 213.1 468.2 226.9C453.5 234.3 435.8 240.5 415.8 245.3C415.9 243.6 416 241.8 416 240C416 218.1 405.4 200.1 391.9 186.6V186.6zM384 336C384 354 369.7 370.6 345.6 384C343.8 384.1 342 385.9 340.2 386.9C304.9 404.7 251.6 416 192 416C129.2 416 73.42 403.4 38.39 384C14.28 370.6 .0003 354 .0003 336V300.6C12.45 310.9 27.62 319.3 43.93 326.1C83.44 342.6 135.8 352 192 352C248.2 352 300.6 342.6 340.1 326.1C347.9 322.9 355.4 319.2 362.5 315.2C368.6 311.8 374.3 308 379.7 304C381.2 302.9 382.6 301.7 384 300.6L384 336zM416 278.1C434.1 273.1 452.5 268.6 468.1 262.1C484.4 255.3 499.5 246.9 512 236.6V272C512 282.5 507 293 497.1 302.9C480.8 319.2 452.1 332.6 415.8 341.3C415.9 339.6 416 337.8 416 336V278.1zM192 448C248.2 448 300.6 438.6 340.1 422.1C356.4 415.3 371.5 406.9 384 396.6V432C384 476.2 298 512 192 512C85.96 512 .0003 476.2 .0003 432V396.6C12.45 406.9 27.62 415.3 43.93 422.1C83.44 438.6 135.8 448 192 448z"/></svg>
        <span><%= link_to " Tips" %>
        <%# </div> %>
        <div class="flex mr-2 text-gray-700 text-sm mr-4 mb-2">
          <svg fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-1" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
          </svg>
          <span>Share</span>
        </div>
      </div>
      <div class="container-delete-edit">
        <% if post.user_id == current_user.id %>
        <%= link_to "Edit", edit_post_path(post), class: "btn-edit" %>
          <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn-delete" %>
        <% end %>
      </div>
      <%= link_to "View Art", post_path(post), class: "btn-view-post" %>
    </div>
  </div>
</div>
<% end %>
