<%# http://localhost:3000/posts %>
<%#= posts_path %>

<h1> FEED </h1>

<%= link_to "New post", new_post_path %>

<br>
<br>
<br>

<ul>
  <% @posts.each do |post| %>
    <li><%= post.description %></li>
    <%= link_to "Delete",
            post,
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to 'Show', post %>
  <% end %>
</ul>
